*{
    font-size: 28px;
    background-color: rgb(150, 76, 128);
    color: rgb(0, 0, 0);
    
        
}
.slogan{
    font-size: 32px;
    font-weight: 700px;
    border: 20px rgb(0, 0, 0);
}

img{
    border: 10px solid black;
    margin-left: 130px;

}
h1{
    font-size: 40px;
    text-align: center;
}
button{
    background-color: aqua;
    
}